.search{
    width: 80vw;
    height: fit-content;
    margin-left: 130px;
    margin-right: 50px;
    margin-top: 30px;
    padding-top: 20px;
    border: solid black;
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction:column;
    align-content: center;
    align-items: center;
}

.btn{
  background-color: black;
  border: solid rgb(249, 246, 246);
  color: aliceblue;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: 30px;
}

#heading{
  color: rgba(255, 255, 255, 0.411);
  text-decoration:underline;
  text-decoration-color: rgba(240, 248, 255, 0.205);
  font-size:xx-large;
  font-weight: bolder;
  font-style:oblique;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 190px;
}

#bar{
  width: 700px;
  height: 5vh;
  border-radius: 10px;
  background-color: rgba(98, 97, 97, 0.247);
  color: rgb(238, 241, 243);
}

.base{
  text-align:left;
  padding-left: 3%; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.results{
  display: "inline-block";
  width: 45%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.divBase{
  background-color: rgba(37, 39, 41, 0.707);
  border: solid rgb(200, 195, 195);
  display: flex;
  flex-direction: column;
  width: 870px;
  height: fit-content;
  padding-left: 40px;
  padding-top: 10px;
  border-radius: 20px;
  margin-right: 40px;
}

.divDivision{
  display: flex;
  flex-direction: row;
  justify-content:left;
}

.img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid black;
}

.name{
  color:aliceblue;
  margin-left: 30px;
  margin-top: 30px;
  text-decoration: underline;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.txt{
  color:aliceblue;
  margin-bottom: 0.5rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.url{
 color:rgb(95, 160, 218);
 margin-top: 20px;
 margin-left: 20px;
 font-size: small;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(44, 44, 44);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
